@model CleanArchMvc.Application.DTOs.ProductDto

<h2>Register new Product</h2>

<form asp-action="Edit" class="row g-3">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="col-md-6">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Image" class="col-sm-3 col-form-label"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Price" class="col-sm-2 col-form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="Stock" class="col-sm-2 col-form-label"></label>
        <input asp-for="Stock" class="form-control" />
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="CategoryId" class="col-sm-2 col-form-label"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"> </select>
    </div>
    <div class="col-12">
        <input type="submit" value="Create" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
</form>
